<div class="container px-5 px-sm-0">
  <div class="col-md-8 offset-md-1">
    <div class="row">
    <h2>商品一覧</h2>
    <h6><%= link_to "商品新規登録", new_admin_item_path %></h6>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品ID</th>  <th>商品名</th>  <th>税抜き価格</th>
          </tr>
        </thead>

        <tbody>
            <% @items.each do |item| %>
          <tr>
            <td>
              <%= item.id  %>
            </td>
            <td>
              <%= link_to admin_item_path(item.id) do %>
              <%= item.name %>
              <% end %>
            </td>
            <td>
              <%= item.price %>
            </td>
          </tr>
           <% end %>
        </tbody>
      </table>
    </div>
  </div>
<%= paginate @items %>
</div>