<div class="container px-5 px-sm-0">
  <div class="row">
    <h2>商品詳細</h2>
    </div>
    <div class="row">
    <div class="col-md-3">
        <%= image_tag @item.image, size: "200x200" %>
     </div>

    <div class="col-md-8 offset-md-1">
      <table>
        <tbody>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>

            <tr>
              <th>商品説明</th>
              <td><%= @item.introduction %></td>
            </tr>

          <tr>
            <th>税込価格（税抜き価格）</th>
            <td><%= (@item.price * 1.1).floor %> <%# 税込 %>
                (<%= @item.price %>)円 <%# 税抜き %>
            </td>
          </tr>

          <td class="btn btm-sm btn-success">
              <%= link_to "編集する", edit_admin_item_path(@item) %>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>