<h2>会員一覧</h2>
  <table>
  <head>
  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  </head>

  <body>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>

        <td>
          <%= link_to customers_my_page_path do %>
          <%= customer.last_name + customer.first_name %>
          <% end %>
        </td>

        <td><%= customer.email %></td>

        <td>
         <% if customer.is_deleted %>
            退会
         <% else %>
            有効
         <% end %>
        </td>
      </tr>
      <% end %>
  </body>
  </table>
  <%= paginate customers %>