<div class="container">
  <div class="row">
    <h2>注文履歴詳細</h2>
  </div>
<div class="row">
<table>
  <tr>
    <th>購入者</th>
    <td><%= @order.customer.last_name + @order.customer.first_name %></td>
  </tr>

  <tr>
    <th>注文日</th>
    <td><%= @order.created_at %></td>
  </tr>

  <tr>
    <th>配送先</th>
    <td><%= @order.postal_code %>
        <%= @order.address %></br>
        <%= @order.name %>
    </td>
  </tr>

  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_method %></td>
  </tr>
</table>
</div>

<div class="row">
  <table>
    <tr>
      <th>商品合計</th>
      <td><%= @order.total_payment - @order.shipping_cost %></td>
    </tr>
    <tr>
      <th>送料</th>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <th>請求額合計</th>
      <td><%= @order.total_payment %></td>
    </tr>
  </table>
</div>
</div>