<h2>注文情報確認</h2>
<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>

  <% total = 0 %>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= image_tag item.get_image(100, 100) %>
        <%= cart_item.item.name %>
        </td>
      <td><%= (cart_item.item.with_tax_price).to_i %></td>
      <td><%= cart_item.amount %></td>
      <td><<% subtotal = ((cart_item.item.price*cart_item.amount)).to_i %>
          <%= subtotal %>
      </td>
    </tr>
    <% total += (cart_item.item.price*cart_item.amount) %>
    <% end %>
</table>

<table>
  <tr>
    <th>送料</th>
    <td><% @order.postage = 800 %>
        <%= @order.postage %></td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><% total.to_i %></td>
  </tr>
  <tr>
    <th>請求金額</th>
    <td> <%= @order.total_payment = total.to_i + order.postage %></td>
  </tr>
</table>

<div>
  <table>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method %></td></tr>

      <tr>
        <th>お届け先</th>
        <td><%= @order.postal_code %>
            <%= @order.address %></br>
            <%= @order.name %></td></tr>
  </table>
</div>

<div>
  <% from_with model: @order do |f| %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :adderess %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :total_payment %>
    <%= f.hidden_field :payment_method %>
  <% end %>
</div>