<h2>注文情報入力</h2>

<h3>支払方法</h3>
  <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
<div>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method_credit_card, "クレジットカード" %>
</div>
<div>
  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method_transfer, "銀行振込" %>
</div>

<h3>お届け先</h3>
<div>
  <%= f.radio_button :address_option, 0 %>
  <%= f.label :address_currrent_customer, "ご自身の住所" %>
  〒<%= current_customer.postal_code %>
  <%= current_customer.address %></br>
  <%= current_customer.last_name %> <%= current_customer.first_name %>
</div>

<div>
  <%= f.radio_button :address_option, 2 %>
  <%= f.label :address_currrent_customer, "新しいお届け先" %>
    <table>
      <tr>
        <th><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th><%= f.label :address, "住所" %></th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th><%= f.label :name, "宛名" %></th>
        <td><%= f.text_field :name %></td>
      </tr>
    </table>
</div>

<div>
<%= f.submit "確認画面へ進む" %>
</div>
<% end %>