<h2>注文履歴詳細</h2>

<h4>注文情報</h4>
<table>
  <tbody>
    <tr>
      <th>注文日</th>
      <td><%= order.created_at %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= order.postal_code %></td></br>
      <td><%= order.address %></td></br>
      <td><%= order.name %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= order.payment_method %></td>
    </tr>
</table>

<h4>請求情報</h4>
<table>
  <tr>
    <th>商品合計</th>
    <td><%= %></td>
  </tr>
  <tr>
    <th>配送料</th>
    <td><%= order.shipping_cost %></td>
  </tr>
  <tr>
    <th>ご請求額</th>
    <td><%= order.total_payment %></td>
  </tr>
</table>

<h4>注文内容</h4>
<table>
<thead>
  <tr>
    <th>商品</th>
    <th>単価(税込)</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
</thead>

<tbody>
  <% @order_details.each do |order_detail| %>
  <td><%= order_detail.item_id %></td>
  <td><%= %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= %></td>
</tbody>
</table>