    <div>
      <table>
        <body>
          <tr>
            <th><%= image_tag @item.get_image(100, 100) %></th>
          </tr>

          <tr>
            <th><%= @item.name %></th>
          </tr>

          <tr>
            <th><%= @item.introduction %></th>
          </tr>

          <tr>
            <th>¥<%= @item.price %>（税込）</th>
          </tr>
        </body>
      </table>

          <div>
            <span><%= form_with model: @cart_item do |f| %>
                  <%= f.select :amount, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],include_blank: "個数を選択" %></span>
                  <%= f.hidden_field :item_id, :value => @item.id %>
            <span><%= f.submit "カートに入れる" %></span>
                  <% end %>
</div>
</div>